
  <% order.order_contents.each do |c| %>

      <div class="order-purchase-history">
        <%= link_to(product_path(c.product)) do %>
          <%= attachment_image_tag c.product, :jacket_image, fallback: "no_image.png", class: "product-list-image product-list-image-animation" %>
        <% end %>
        <div class="order-purchase-history-text">
          <h4><span class="glyphicon glyphicon-music" aria-hidden="true"></span> <%= link_to c.product.product_name, product_path(c.product) %></h4>
          <br>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span><%= link_to c.product.artist.artist_name, artist_path(c.product.artist) %>
          <br>
          <%= c.product.genre.genre_name %>
          <br>
          <br>
          購入枚数<%= c.product_qty %>枚
          <br>
          小計<%= c.price_sum_ex_tax.to_s(:delimited) %>円（税抜き）
          <br>
        </div>
      </div>

  <% end %>

