<!--登録住所の編集画面を表示（マイページ→編集)-->
<div class="container">
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
			<div class="delivery_edit">
				<p class="adjust">お届け先住所の編集</p><br/>
			    <%= form_for @edit_delivery, url: d_u_path do |f| %>
				<table>
				<tbody>
				    <tr>
				        <td>
				            <i>氏名　姓／名</i>
				        </td>
				        <td>
				            <div class="st_field">
					           <%= f.text_field :lastname_kanji, autofocus: true, :size=>"25", placeholder: "漢字氏名　姓" %>
					           <%= f.text_field :firstname_kanji, autofocus: true, :size=>"25", placeholder: "漢字氏名　名" %>
				            </div><br/>
				        </td>
				    </tr>
				</tbody>
				<tbody>
				    <td>
				         <i>カナ氏名　姓／名</i>
				    </td>
				    <td>
				        <div class="st_field">
				        	<%= f.text_field :lastname_kana, autofocus: true, :size=>"25", placeholder: "カナ氏名　姓" %>
				        	<%= f.text_field :firstname_kana, autofocus: true, :size=>"25", placeholder: "カナ氏名　名" %>
				        </div><br />
				    </td>
				</tbody>
				<tbody>
				    <td>
				         <i>郵便番号</i>
				    </td>
				    <td>
				        <div class="st_field">
				        	<%= f.text_field :zipcode, autofocus: true, :size=>"25", placeholder: "郵便番号" %>
				            ※ハイフン無しで入力してください
				        </div><br />
				    </td>
				</tbody>
				<tbody>
				    <td>
				        <i>住所</i>
				    </td>
				    <td>
				        <div class="t_field">
				        	<%= f.text_field :address, autofocus: true, :size=>"55", placeholder: "住所" %>
				        </div><br />
				    </td>
				</tbody>
				<tbody>
				    <td>
				        <i>電話番号</i>
				    </td>
				    <td>
				        <div class="st_field">
				       	 	<%= f.text_field :phone_number, autofocus: true, :size=>"25", placeholder: "電話番号" %>
				      	 	※ハイフン無しで入力してください
				        </div><br />
				    </td>
				</tbody>
				<tbody>
				    <td></td>
				    <td>
				        <p><%= f.submit '編集', :class=>"btn btn-block btn-primary" %>
				        </p><br/>
				    </td>
				</tbody>
				<tbody>
				    <td>
				        <%= link_to "マイページへ戻る", end_user_path(current_end_user.id), class: 'btn btn-default' %>
				    </td>
				    <td></td>
				</tbody>
				</table>
				<% end %>
			</div>
        </div>
    </div>
</div>