

<!-- 住所変更画面の表示（注文確認→住所変更） -->


<% @deliveries.each do |d| %>
  <td><%= d.lastname_kanji %></td></br>
  <td><%= d.firstname_kanji %></td></br>
  <td><%= d.zipcode %></td></br>
  <td><%= d.address %></td></br>

  <%= form_for(d) do |f| %>
   <p><%= f.submit '選択する', :class=>"btn btn-block btn-primary"%>
   </p><br/>

<% end %>
<% end %>






<!-- ラジオボタンにユーザーの持つお届け先住所を表示する。ラジオボタンで選んだ住所をカートテーブルに入れる -->

