<div class="order-content clearfix">
          <%= attachment_image_tag cart.product, :jacket_image, fallback: "no_image.png", class: "cart-image" %>

        <div class="cart-text">
          <h4><span class="glyphicon glyphicon-music" aria-hidden="true"></span> <%= cart.product.product_name%></h4>
          <br>
          <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= cart.product.artist.artist_name %></p>
          <br>
          <%= cart.product.genre.genre_name %>
        </div>

        <div class="cart-price">
          <h4>税込み <%= cart.product.price * cart.product_qty %> 円</h4>
          <br>
          <br>
          <p>数量 <%= cart.product_qty %></p>
        </div>
</div>
