<div class="confirmation clearfix">

  <%= form_with(model: @order) do |f| %>
  <h1>ご注文内容</h1>

  <div class="order-user-confirmation clearfix">

      <div class="user-deliver">
       <%# 選択住所 %>
       <h1>お届け先住所  <%= link_to "選択", delivery_path(@end_user), class: "btn btn-default" %></h1>
       <% if @delivery == nil %>
          <table class="table table-bordered table-striped">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td> お届け先住所の登録がありません。登録して下さい。</td>
              </tr>
            </tbody>
          </table>
        <% else %>
          <table class="table table-bordered table-striped">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td>氏名</td>
                <td><%= @delivery.lastname_kanji %> <%= @delivery.firstname_kanji %>　様</td>
              </tr>
              <tr>
                <td>郵便番号</td>
                <td><%= @delivery.zipcode %></td>
              </tr>
              <tr>
                <td>住所</td>
                <td><%= @delivery.address %></td>
              </tr>
              <tr>
                <td>電話番号</td>
                <td><%= @delivery.phone_number %></td>
              </tr>
            </tbody>
          </table>
          <br>
      <% end %>
      </div>


      <div class="user-payment-method">
       <h1>お支払い方法  <%#= link_to "編集", cards_path, class: "btn btn-default" %></h1>
         <div class="radio-button-area">
            <% if @default_card_information.blank? %>
              <h4>カード払いを選択するにはマイページからクレジットカード情報を登録して下さい。</h4>
            <% else %>
              <%= f.radio_button(:payment_method, 0) %> クレジットカード<br>
                  <div class="card-infomation">
                    <h4><%= @default_card_information.brand %></h4>
                    <h4>カード番号  <%= "**** **** **** " + @default_card_information.last4 %></h4>
                    <% exp_month = @default_card_information.exp_month.to_s %>
                    <% exp_year = @default_card_information.exp_year.to_s.slice(2,3) %>
                    <h4>期限　<%= exp_month + "月／" + exp_year + "年" %></h4>
                  </div>
            <% end %>
            <%= f.radio_button(:payment_method, 1) %> 銀行振込<br>
            <%= f.radio_button(:payment_method, 2, checked: true) %> 代金引換<br>
         </div>
      </div>

  </div>


  <div class="order-content-confirmation">
  <h1>お届け商品</h1>
      <% @carts.each do |cart_content| %>
        <div class="cart-contents">
          <%= render 'order_content_fields', cart: cart_content %>
        </div>
      <% end %>

      <div class="cart-total clearfix">
        <div class="cart-total-content">
            <h2>合計 <%= @total_price_in_tax.to_s(:delimited) %> 円</h2>
        </div>
      </div>
  </div>


  <div class="order-price-confirmation">
    <h1>ご注文内容</h1>
    <table class="table table-striped">
      <thead>
      </thead>

      <tbody>
        <tr>
          <td>商品の小計</td>
          <td class="table-Left-justification"><%= @total_price_in_tax.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <td>送料</td>
          <td class="table-Left-justification"><%= @freight.to_s(:delimited) %>円</td>
        </tr>
        <tr class="order-price-total">
          <td>合計</td>
          <td class="table-Left-justification"><%= (@total_price_in_tax + @freight).to_s(:delimited) %>円</td>
        </tr>
      </tbody>
    </table>

        <div class="order-confirm">
            <% if @delivery == nil %>
                <p>お届け先住所の登録がありません。登録して下さい。<p>
            <% else %>
                <h4> ※この内容で注文します</h4>
                <br>
                <%= f.hidden_field :deliveries_address, :value => @delivery.address %>
                <%= f.hidden_field :subtotal_ex_tax, :value => @total_price %>
                <%= f.hidden_field :subtotal_in_tax, :value => @total_price_in_tax %>
                <%= f.hidden_field :freight, :value => @freight %>
                <%= f.hidden_field :arrival_status, :value => 0 %>

                <%# 注文詳細内容 %>
                <% index = 0 %>
                <%= f.fields_for :order_contents do |g| %>
                    <%= g.hidden_field :product_id, :value => @carts[index].product_id %>
                    <%= g.hidden_field :product_qty, :value => @carts[index].product_qty %>
                    <%= g.hidden_field :price_sum_ex_tax, :value => @carts[index].product.price * @carts[index].product_qty %>
                    <%= g.hidden_field :price_sum_in_tax, :value => (@carts[index].product.price * @carts[index].product_qty * Colorful::Application.config.InTax).floor %>
                  <% index += 1 %>
                <% end %>

                <%= f.submit "注文を確定する", :name => :send, class: "btn btn-warning" %>
            <% end %>

          <% end %>
        </div>

  </div>

</div>
