
<div class="session">

<h2>ようこそColorfulへ！</h2></br>

<!-- エラーメッセージの表示 -->
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="t_field">
    <%= f.email_field :email, autofocus: true, :size=>"55", placeholder: "メールアドレス", autocomplete: "email" %>
  </div><br />

  <div class="t_field">
    <%= f.password_field :password, autocomplete: "current-password", :size=>"55", placeholder: "パスワード" %>
  </div><br />

  <!-- <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
   <% end %>       ※パスワードの記憶(ログイン時)-->

  <div class="t_actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %><br />

<p class="glyphicon glyphicon-record" aria-hidden="true">アカウントをお持ちでない場合は<a href="/end_users/sign_up">新規登録</a>へ</p><br />

<p class="glyphicon glyphicon-record" aria-hidden="true">パスワードをお忘れの場合は<a href="/end_users/password/new">こちら</a>へ</p>

</div>