<!-- マイページ -->
<div class="container">
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<h3><%= @end_user.lastname_kanji %> <%= @end_user.firstname_kanji %> 様のマイページ</h3><br>
			<!-- 会員情報一覧の表示 -->
			<h4>会員情報一覧</h4>
				<table class="table table-bordered">
					<tbody>
						<tr>
							<th>氏名</th>
							<td><%= @end_user.lastname_kanji %> <%= @end_user.firstname_kanji %></td>
						</tr>
						<tr>
							<th>カナ</th>
							<td><%= @end_user.lastname_kana %> <%= @end_user.firstname_kana %></td>
						</tr>
						<tr>
							<th>電話番号</th>
							<td><%= @end_user.phone_number %></td>
						</tr>
						<tr>
							<th>メールアドレス</th>
							<td><%= @end_user.email %></td>
						</tr>
						<tr>
							<th></th>
							<td>
								<%= link_to '編集' , edit_end_user_path, class:"btn btn-block btn-primary" %>
							</td>
						</tr>
					</tbody>
				</table>

			<!-- お届け先一覧の表示 -->
			<h4>お届け先一覧</h4>
				<table class="table table-bordered table-condensed">
					<% @delivery.each do |delivery| %>
					<tbody>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th>氏名</th>
							<td><%= delivery.lastname_kanji %> <%= delivery.firstname_kanji %></td>
						</tr>
						<tr>
							<th>カナ</th>
							<td><%= delivery.lastname_kana %> <%= delivery.firstname_kana %></td>
						</tr>
						<tr>
							<th>郵便番号</th>
							<td><%= delivery.zipcode %></td>
						</tr>
						<tr>
							<th>住所</th>
							<td><%= delivery.address %></td>
						</tr>
						<tr>
							<th>電話番号</th>
							<td><%= delivery.phone_number %></td>
						</tr>
						<tr>
							<th></th>
							<!-- 届け先住所の編集画面へのリンク・届け先住所の削除 -->
							<td>
							<%= link_to "編集",edit_delivery_path(delivery.id), class:"btn btn-block btn-primary" %>
							<%= link_to "削除", delivery_path(delivery.id),  method: :delete, "data-confirm" => "本当に消しますか？",class:"btn btn-block btn-danger" %>
							</td>
						</tr>
					</tbody>
					<% end %>
				</table>


			<!-- 届け先住所のページネーション -->
		 	<div class="paginate">
			    <%= paginate @delivery, class: "paginate" %>

				<div class="credit">
				<h4>クレジットカード</h4>
				<%# <a href="" class="btn btn-primary" role="button">編集</a> %>
				<%= link_to "クレジットカード編集",cards_show_path, class:"btn btn-primary" %>
				<%# <a href="" class="btn btn-danger" role="button">削除</a>　※何も設定してません %>
				<%= link_to "クレジットカード追加",cards_new_path, class:"btn btn-primary" %>
			</div><br>

  			</div>
  			<!-- 届け先住所の追加画面へのリンク -->
			<div class="add_delivery">
				<a href="/deliveries/new" class="btn btn-primary" role="button">お届け先の追加はこちら</a>
			</div><br>
			<!-- 購入履歴へのリンク -->
			<div class="history">

        <%= link_to "購入履歴", order_path(@end_user.id), class:"btn btn-primary" %>


			</div><br>
			<!-- 退会手続き画面へのリンク -->
			<div class="leave">
				<%= link_to '退会手続きへ', leafe_path, class:"btn btn-danger" %>
			</div>
		</div>
		<div class="col-xs-3"></div>
	</div>

</div>

