<div class="session">

<h2>ようこそColorfulへ！</h2></br>
<h4>※管理者ログインフォーム</h4>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="t_field">
    <%= f.email_field :email, autofocus: true,  :size=>"55", placeholder: "メールアドレス", autocomplete: "email" %>
  </div><br />

  <div class="t_field">
    <%= f.password_field :password, autocomplete: "current-password", :size=>"55", placeholder: "パスワード" %>
  </div><br />

<!--
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %><br />　※パスワードの記憶(ログイン時)-->

  <div class="t_actions">
    <%= f.submit "ログイン" %>
  </div><br />
<% end %>

</div>


