<div class="registration">

<h1>ようこそColorfulへ！</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<h3>会員情報を入力して下さい</h3>

   <div class="st_field">
    <%= f.text_field :lastname_kanji, autofocus: true, :size=>"25", placeholder: "漢字氏名　姓"  %>
    <%= f.text_field :firstname_kanji, autofocus: true, :size=>"25", placeholder: "漢字氏名　名" %>
  </div><br>
  <div class="st_field">
    <%= f.text_field :lastname_kana, autofocus: true, :size=>"25", placeholder: "カナ氏名　姓" %>
    <%= f.text_field :firstname_kana, autofocus: true, :size=>"25", placeholder: "カナ氏名　名" %>
  </div><br>
   <div class="st_field">
    <%= f.text_field :phone_number, autofocus: true, :size=>"25", placeholder: "電話番号" %>
    ※ハイフン無しで入力してください
  </div><br>
  <div class="t_field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"55", placeholder: "メールアドレス" %>
  </div><br>
  <div class="t_field">
    <% if @minimum_password_length %>
    <em><% @minimum_password_length %></em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", :size=>"55", placeholder: "パスワード" %>
  </div><br>
  <div class="t_field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :size=>"55", placeholder: "パスワード(確認用)" %>
  </div><br>


    <h3>デフォルトの住所を入力してください</h3>
    <!-- fields_forでは新しく画面が開かれるたびにフォームを作るので、入力エラー時にフォームが増えてしまうのを防ぐための記述 -->
       <% if resource.deliveries.blank? %>
       <% resource.deliveries.new %>
       <% end %>

       <!-- fields_forでdeliveriesテーブルにデータを登録するためのフォームを追加する -->
       <%= f.fields_for :deliveries do |d| %>
         <div class="st_field">
           <%= d.text_field :lastname_kanji, autofocus: true, :size=>"25", placeholder: "漢字氏名　姓"  %>
           <%= d.text_field :firstname_kanji, autofocus: true, :size=>"25", placeholder: "漢字氏名　名" %>
         </div><br>
         <div class="st_field">
           <%= d.text_field :lastname_kana, autofocus: true, :size=>"25", placeholder: "カナ氏名　姓" %>
           <%= d.text_field :firstname_kana, autofocus: true, :size=>"25", placeholder: "カナ氏名　名" %>
         </div><br>
         <div class="st_field">
           <%= d.text_field :phone_number, autofocus: true, :size=>"25", placeholder: "電話番号" %> ※ハイフン無しで入力してください
         </div><br>
         <div class="st_field">
           <%= d.text_field :zipcode, autofocus: true, :size=>"25", placeholder: "郵便番号" %> ※ハイフン無しで入力してください
         </div><br>
         <div class="t_field">
           <%= d.text_field :address, autofocus: true, :size=>"25", placeholder: "住所" %>
         </div>
         <%= d.hidden_field :default, :value => "true" %>
       <% end %><br>


  <div class="t_actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %><br>

<p class="glyphicon glyphicon-record" aria-hidden="true">アカウントをお持ちの方は<a href="/end_users/sign_in">ログイン</a>へ</p>
</div>

<!-- インプットはレイルズのかきかた　 -->
<!-- スクリプトは一番下 -->