<div class="product-show">
  <%= render 'layouts/messages' %>

<!== 作品情報 ==>
  <div class="product-content clearfix">

<!== ジャケット画像 ==>
    <div class="product-content-image">
      <%= attachment_image_tag @product, :jacket_image, fallback: "no_image.png", class: "product-content-image-file" %>
      <p>いいね機能実装予定</p>
    </div>

<!== アーティスト情報、分類 ==>
    <div class="product-content-text">
      <h1><span class="glyphicon glyphicon-music" aria-hidden="true"></span><%= @product.product_name %></h1>
      <br>
      <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span><%= link_to @artist.artist_name, artist_path(@artist) %></h3>
      <h3><%= @genre.genre_name %></h3>
      <h3><%= @label.label_name %></h3>
    </div>

<!== 販売情報 ==>
    <div class="product-content-price">
      <p>税別 <%= @product.price %>円</p>
      <br>
      <!== カートに入れる個数 ==>

      <br>
      <%# <%= form_tag(@cart{ :controller => 'carts', :action => 'create' }, method: :post) do |f| %1> %>
      <%= form_with model: @cart do |f| %>
        <%= f.select :product_qty, options_for_select((1..15)) %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= submit_tag 'カートに入れる', :name => nil, class: "btn btn-warning" %>
      <% end %>

      <p>在庫があるか表示　予定</p>
      <% if @product.stopped == false %>
        <p class= "stopped-false" >※販売中</p>
      <% elsif @product == true %>
        <p class= "stopped-true" >※販売停止中</p>
      <% end %>
    </div>
  </div>

<!== 収録情報 ==>
        <div class="show-discs">
          <h3>収録曲</h3>
          <% @discs.each do |disc| %>
                <p>DISC:<%= disc.disc_number %></p>
                <p>Songs</p>
                <!== 収録曲の処理 ==>
                <% disc.songs.each do |song|%>
                  <%= song.track_number %>.<%= song.song_name %>
                  <br>
                <% end %>
                <br>
          <% end %>
        </div>

<!== 管理情報 ==>
      <div class="manage-product">
        <%= link_to "一覧", admin_products_path %>
      </div>
</div>
