<div class="product-show">
  <%= render 'layouts/messages' %>

  <!== 作品情報 ==>
  <div class="product-content clearfix">

  <!== ジャケット画像 ==>
    <div class="product-content-image">
      <%= attachment_image_tag @product, :jacket_image, class: "product-content-image-file" %>

      <div id="favorite">
        <% if end_user_signed_in? %>
          <% if @product.favorited_by?(current_end_user) %>
            <%= link_to product_favorite_path(@product.id, current_end_user.id), method: :delete, remote: :true do %>
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            <% end %>
          <% else %>
            <%= link_to product_favorites_path(@product.id), method: :post, remote: :true do %>
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            <% end %>
          <% end %>
        <% end %>
        <br>
        <%= @product.favorites.count %> 件のいいね
      </div>

    </div>

  <!== アーティスト情報、分類 ==>
    <div class="product-content-text">
      <h1><span class="glyphicon glyphicon-music" aria-hidden="true"></span><%= @product.product_name %></h1>
      <br>
      <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span><%= link_to @artist.artist_name, artist_path(@artist) %></h3>
      <h3><%= @genre.genre_name %></h3>
      <h3><%= @label.label_name %></h3>
    </div>

  <!== 販売情報 ==>
    <div class="product-content-price">
      <p>税込 <%= (@product.price * Colorful::Application.config.InTax).floor.to_s(:delimited)%>円</p>
      <br>
      <!== カートに入れる個数 ==>

      <br>
      <%# 販売停止の商品は購入できない %>
      <% if @product.stopped == false %>
        <%= form_with model: @cart do |f| %>
          <%= f.select :product_qty, options_for_select(1..99) %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= submit_tag 'カートに入れる', :name => nil, class: "btn btn-warning" %>
        <% end %>
      <% end %>


      <% if @stock <= 0 %>
        <p class= "stopped-false" >※売り切れ</p>
      <% else @stock == true %>
        <p class= "stopped-true" >※在庫あり</p>
      <% end %>
      <% if @product.stopped == false %>
        <p class= "stopped-false" >※販売中</p>
      <% elsif @product.stopped == true %>
        <p class= "stopped-true" >※販売停止中</p>
      <% end %>
    </div>
  </div>

  <!== 収録情報 ==>
        <div class="show-discs">
          <h3>収録曲</h3>
          <% @discs.each do |disc| %>
                <p>DISC:<%= disc.disc_number %></p>
                <p>Songs</p>
                <!== 収録曲の処理 ==>
                <% disc.songs.each do |song|%>
                  <%= song.track_number %>.<%= song.song_name %>
                  <br>
                <% end %>
                <br>
          <% end %>
        </div>
        <div class="review">
              <!-- レビューを書く -->
              <% if end_user_signed_in?%>
                <div class="review_post">
                  <div class="review_post_title">
                    <h2 class="">レビューを書く</h2>
                  </div>
                  <div class="review_post_content_box">
                    <%= form_for @review, url: reviews_path do |review| %>
                      <%= review.hidden_field :end_user_id, :value => @end_user %>
                      <%= review.hidden_field :product_id, :value => @product.id %>
                      <%= review.text_area :review_content , class: "review_post_content" %>
                      <%= review.submit '投稿する', class: "review_submit" %>
                    <% end %>
                  </div>
              <% else %>
              <% end %>
            </div>
              <!-- レビュー表示 -->
              <div class="review_content_box">
                <div class="review_post_title">
                  <h2 class="">商品レビュー</h2>
                </div>
                <% @reviews.each do |review| %>
                <div class="review_index_box">
                  <div class="review_created_at">
                    <%= review.created_at %>
                  </div>
                  <div class="review_user_name">
                    <div class="review_destroy">
                    <%= review.end_user.lastname_kanji %>
                    <%= review.end_user.firstname_kanji %>さん
                      <% if review.end_user_id == @end_user %>
                      <%= link_to '削除', review_path(review.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'review_delete' %>
                      <% else %>
                      <% end %>
                    </div>
                  </div>

                  <div class="review_content clearfix">
                    <%= review.review_content %>
                  </div>
                </div>
              <% end %>
                <div class="paginate">
                  <%= paginate @reviews, class: "paginate" %>
                </div>
            </div>

        </div>

</div>
