<!DOCTYPE html>
<html>
  <head>
    <title>Colorful</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>
  <body>
<!-- ここからヘッダーです。 -->
<header class="clearfix navbar-fixed-top">
  <div class="">
    <div class="">

      <!-- 画面幅を狭めた時のメニューボタン -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- メニューボタンここまで？ -->


      <% if admin_user_signed_in? %>
       <a class="colorful_logo" href="/admin/products" >colorful </a>
      <% else %>
       <a class="colorful_logo" href="/products"  >colorful</a>
      <% end %>

    </div>

    <div class="collapse navbar-collapse" id="navbarEexample">
      <ul class="">
       <% if end_user_signed_in? %>
        <li>
            <%= link_to 'アーティスト一覧', artists_path,:class => 'header_btn' %>
          </li>
          <li>
            <a href="/end_users/<%= current_end_user.id %>" class="header_btn">マイページ</a>
          </li>
          <li>
            <a href="/rankings" class="header_btn">ランキング</a>
          </li>
          <li>
             <%= link_to "カート", cart_path(current_end_user.id),:class => 'header_btn' %></li>
          </li>
           <li><%= link_to "ログアウト", destroy_end_user_session_path, method: :delete,:class => 'header_btn' %></li>
        <% elsif admin_user_signed_in? %>
          <li>
             <%= link_to "管理者メニュー", new_admin_user_session_path,:class => 'header_btn' %></li>
          <li><%= link_to "ログアウト", destroy_admin_user_session_path, method: :delete,:class => 'header_btn' %></li>
        <% else %>
          <li>
            <%= link_to 'アーティスト一覧', artists_path,:class => 'header_btn' %>
          </li>
          <li>
            <a href="/rankings" class="header_btn">ランキング</a>
          </li>
          <li>
            <a href="/end_users/sign_up" class="header_btn">新規登録</a>
          </li>
          <li>
            <a href="/end_users/sign_in" class="header_btn">ログイン</a>
          </li>
        <% end %>

                <!-- ここから検索バーです -->
        <% if admin_user_signed_in? %>
        
          <%= search_form_for @search, url: admin_searches_path do |f| %>
            <div class="search_btn_box">
              <%= f.submit "検索", class: "search_btn" %>
            </div>
            <div class="search_form_box">
              <%= f.text_field :product_name_or_artist_artist_name_or_genre_genre_name_cont, class: "search_form", placeholder: '検索キーワード' %>
            </div>
          <% end %>

        <% else %>

          <%= search_form_for @search, url: searches_path do |f| %>
            <div class="search_btn_box">
              <%= f.submit "検索", class: "search_btn" %>
            </div>
            <div class="search_form_box">
              <%= f.text_field :product_name_or_artist_artist_name_or_genre_genre_name_cont, class: "search_form", placeholder: '検索キーワード' %>
            </div>
          <% end %>
        <% end %>
        　　　　<!-- ここまで検索バーです -->





      </ul>
    </div>
  </div>
</header>

  <%= yield %>



<!-- ここからフッターです。 -->
<footer>
    <% if admin_user_signed_in? %>
    <a class="logo" href="/admin/products">colorful</a>
    <% else %>
    <a class="logo" href="/products">colorful</a>
    <% end %>

    <% if admin_user_signed_in? %>
     <a href="/admin/inquiries">お問い合わせ</a>
    <% else %>
     <a href="/inquiries/new">お問い合わせ</a>
    <% end %>

    <a href="">個人情報保護方針</a>
    <a href="">ご利用にあたって</a>

    <i class="copyright">©2019 colorful.Japan Inc.</i>
</footer>

</body>
</html>
